.feature__container {
  display: flex;
  align-items: center;
  gap: 5rem;
  margin-bottom: 5rem;
}

.feature__title {
  font-size: 1.5rem;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

hr {
  margin: 12px 0 4px;
}

.feature__title hr {
  display: flex;
  width: 100px;
  height: 3px;
  background: var(--gradient-bar);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 0.25rem;
  margin-right: 0;
}

.feature__text {
  margin-top: 0.5rem;
}

@media only screen and (max-width: 566px) {
  .feature__container {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .feature__title {
    margin-right: 0;
    margin-bottom: 0.5rem;
  }

  .feature__title hr {
    margin-bottom: 0;
  }

  .feature__text {
    margin-top: 0;
  }
}
