.proj-feat-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  width: 100%;
  padding: 1rem;
}

.proj-feat-container.reverse {
  flex-direction: row-reverse;
}

.proj-video {
  flex: 1;
  max-width: 50%;
  height: auto;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 15px;
  box-sizing: border-box;
}

.proj-text {
  flex: 1;
  display: flex;
  height: auto;
  min-height: 300px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 50%;
  padding: 1rem;
  box-sizing: border-box;
}

.proj-buttons {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}

.proj-button {
  text-decoration: none;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background: var(--gradient-bar); /* Replace with your desired gradient or color */
  color: white;
  font-size: 1rem;
  text-align: center;
  transition: all 0.3s ease;
}

.proj-button:hover {
  background: #f77f00; /* Example hover effect color */
  transform: scale(1.05);
}