
.contact-color {
  border-color: white;
}

div {
  border-color: white;
}

@media only screen and (max-width: 768px) {
  .contact-container {
    flex-direction: column;
    text-align: center;
    padding: 1rem;
  }
}