@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --font-family: "Manrope", sans-serif;

  --gradient-text: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #d0d8e3 0%, #714da3 100%);

  --halo-bg: #0d0d0d;
  --section-bg: linear-gradient(to bottom, var(--halo-bg), #0a0a1a);

  --color-bg: #0d0d0d;
  --color-footer: #031b34;
  --color-blog: #042c54;
  --color-text: #81afdd;
  --color-subtext: #ff8a71;
}

@media only screen and (max-width: 768px) {
  .header-content {
    flex-direction: column;
    text-align: center;
  }
  .header-overview {
    padding: 1rem
  }
  .header-img img {
    width: 80%;
  }
  .navbar {
    flex-direction: column;
  }
  .navbar a {
    margin: 0.5rem 0;
  }
}