.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header-name {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  letter-spacing: 0.8rem;
  padding-top: 2rem;
}

.header-name h1 {
  font-size: calc(3rem + 3vw);
}

.text-pop-up-top {
  transition: ease-in;
}

.header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem 2rem 1rem;
}

.header-overiew {
  padding: 6rem;
  line-height: 32px;
}

.header-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header-skills {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 20px;
}

.header-skills-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-skills-icon img {
  width: 50px;
  height: 50px;
}


@media only screen and (max-width: 768px) {
  .header-content {
    flex-direction: column;
    text-align: center;
  }
  .header-overview {
    padding: 1rem;
  }
  .header-img img {
    width: 80%
  }
  .header-skills {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  }
}

@media only screen and (max-width: 480px) {
  .header-skills {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}